.block-language-obsidian-badge {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.block-language-obsidian-badge .obsidian-badge_wrapper {
  display: inline-flex;
  flex-flow: column nowrap;

  background-color: #f3f3f3;
  border-radius: 3px;
  margin: 0.2rem;
}

.block-language-obsidian-badge .obsidian-badge_text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.2rem;
  font-size: small;
}

.block-language-obsidian-badge .obsidian-badge_value {
  color: #2978ef;
}

.block-language-obsidian-badge .obsidian-badge_value>span {
  color: #c1d7f9;
}

.block-language-obsidian-badge .obsidian-badge_label {
  padding: 0.2rem 1rem 0 0.2rem;
  flex: 1 0 auto;
}

.block-language-obsidian-badge .obsidian-badge_progress-bar {
  width: 100%;
  background-color: #c1d7f9;

  flex: 1 1 auto;
}

.block-language-obsidian-badge .obsidian-badge_progress-bar-fill {
  display: block;
  height: 0.3rem;
  background-color: #2978ef;
  border-radius: 0 0 0.2rem 0.2rem;
}

.block-language-obsidian-badge .obsidian-badge_error {
  color: red;
  font-size: small;
  padding: 0.5rem;
}
